<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/assets/favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script defer src="/js/detail.js"></script>
    <title>Detail | Roam.io</title>
  </head>
  <body>
    <header class="container"></header>
    <main class="container"></main>
    <footer class="container">
      <small>2026 Roam.io</small>
    </footer>
  </body>
</html>
